.products-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;

  .product-summary-wrapper {
    /*width: 218px;*/
    padding: 0px 20px;
    display: inline-grid;
    background-color: white;
    border-radius: 12px;
    padding: 0px 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .products-gallery {
    grid-template-columns: repeat(2, 1fr);
    .product-summary-wrapper {
      /*width: 50%;*/
    }
  }
}