a.link {
  color: #555 !important;
  font-size: 14px !important;
}

.breadcumb {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;

  .list-group-item {
    border: none;
    position: relative;
    font-size: 14px;
    color: #555 !important;

    &:after {
      content: '>';
      position: absolute;
      right: 0px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
