.mod {
  text-transform: capitalize; 
}

.btn-shop {
  position: relative;
}

.mod:hover {
  transform: none; 
}

.shoppingCardBubble {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #7a9b3c;
  border-radius: 50%;
  font-size: 10px;
  width: 18px;
  height: 18px;
  line-height: 14px;
  padding: 2px;
  color: white;
}

.mobShopping-basket {
  display: block;
  padding: 0;
  margin: 0;

  .basket {
    font-size: 24px
  }

  .btn-shop {
    background: white;
    color: #f74342;
    border: none;
    margin: 0px;
    padding: 0px;    
    margin-top: -5px;
    width: 40px;
    height: 40px;
    line-height: 1;
  }
}
