.footer {
  height: 200px;
  padding: 50px;
  z-index: 100;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #f4f7f8;
}
.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer ul li {
  font-size: 14px;
  margin-bottom: 10px;
  color: #546068;
}
.footer ul li a {
  color: #546068;
}
.footer .col-md-4.center {
  display: flex;
  justify-content: center;
}
.footer .v-center {
  display: flex;
  align-items: center;
}
.footer .logo {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer .row {
    margin: 0px;
  }
  .footer .logo {
    margin: 0px auto 20px;
  }
  .footer ul li {
    text-align: center;
  }
}
