.footer {
  height: 200px;
  padding: 50px;
  z-index: 100;
  background-color: white;
  position: relative;
}

/*.footer {
  padding: 80px 0px;
  a {
    color: #3d4246;

    &:hover {
      color: #3d4246;
    }
  }

  .links-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
  }

  .copyright {
    text-align: center;
    margin: 50px 0px 0px 0px;
  }

  .social-networks {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;

    .fa {
      margin: 0px 10px;
    }
  }
}*/