@import './variables';

.btn {
  border-width: 2px;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.btn-outlined {
  background-color: transparent;
  border-color: white;

  &:hover {
    background-color: transparent;
    border-color: white;
  }
}

.modal-open {
  overflow: hidden !important;
}