body {
  font-family: "Poppins";
  overflow-x: hidden;
}
.main-container {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 70px;
}
.products-container {
  text-align: left;
  border-radius: 4px;
  min-height: 50vh;
  padding: 0px 60px;
  background: #fafaf8;
  width: 100%;
}
@media (max-width: 768px) {
  .products-container {
    width: 100%;
  }
}
