$header-height: 80px;
$primary-color: #f969b3;//#ffaae4;// #f969b3;
$sm-screen-width: 576px;
$md-screen-width: 768px;
$lg-screen-width: 992px;
$xl-screen-width: 1200px;
$header-height-sm: 50px; 
$whatsapp-height: 80px;
$whatsapp-height-sm: 100px;