.banner {
  border-bottom: 1px solid #f4f7f8;
  h1  {
    font-size: 1.6rem;
    color: #546068;
  }

  .text-highlight {
    color: #F74342;
  }

  .banner-item {
    padding: 40px;
    text-align: center;
    font-family: "Poppins";
  }

  a {
    text-decoration: none;
  }
}
